@import "mixins";
@import "mixins/vendor-prefixes";
#circle {
    text-align: center;
    position: relative;
    width: 70%;
    i {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background: #6fd5ff;
        @include radius(50%);
        position: absolute;
        top: 0px;
        left: 50%;
        @include opacity(90);
        // -webkit-animation-direction: alternate; //规定动画是否在下一周期逆向地播放。默认是 "normal"。
        &:first-child {
            animation: translateA 1.8s linear infinite;
            -webkit-animation: translateA 1.8s linear infinite;
        }
        &:first-child~i {
            background: #4590ed;
            animation: translateA 1.8s linear infinite 0.6s;
            -webkit-animation: translateA 1.8s linear infinite 0.6s;
        }
        &:first-child~i~i {
            background: #958bfb;
            animation: translateA 1.8s linear infinite 1.2s;
            -webkit-animation: translateA 1.8s linear infinite 1.2s;
        }
    }
}

@keyframes translateA {
    0% {
        left: 50%;
    }
    10% {
        left: 75%;
    }
    20% {
        left: 100%;
    }
    30% {
        left: 75%;
    }
    40% {
        left: 50%;
    }
    50% {
        left: 25%;
    }
    60% {
        left: 0%;
    }
    70% {
        left: 25%;
    }
    80% {
        left: 50%;
    }
    90% {
        left: 50%;
    }
    100% {
        left: 50%;
    }
}


/****FIN SPINNER****/