<div class="navTitle">
    <div class="left">
        &nbsp;&nbsp;<span class="fa fa-chevron-left" aria-hidden="true" onclick="history.go(-1)"></span>
    </div>
    <div class="left">云病历</div>
    <div></div>
</div>
<div class="patientInfo">
    <dl>
        <dt>
          张一诺 <img [src]="'./assets/img/girl.png'" alt=""> 
        </dt>
        <dd>
            88岁
        </dd>
    </dl>
</div>
<div class="orderlist">
    <div class="cell">
        <a href="#">
            <div class="list_title">
                <div>2017.06.11-2017.08.15</div>
                <div>
                    <button class="yeloBtn">住院</button>
                </div>
            </div>
            <hr>
            <div class=" media ">
                <!--  <div class="media-left ">
                    <img class="media-object " [src]=" './assets/img/head.png' " alt="... ">
                </div> -->
                <div class="media-body ">
                    <h3>标题
                        <!--<small>姓名</small>
                        <small>医院</small>
                        <span>100￥</span> -->
                    </h3>
                    <p>安安安 </p>
                </div>
                <div class="media-icon "><img src="./assets/img/icon-arrow.png " alt=" "></div>
            </div>
        </a>
    </div>
    <div class="cell">
        <a href="#">
            <div class="list_title">
                <div>2017.06.11-2017.08.15</div>
                <div>
                    <button class="bluBtn">住院</button>
                </div>
            </div>
            <hr>
            <div class=" media ">
                <div class="media-body ">
                    <h3>标题 </h3>
                    <p>安安安 </p>
                </div>
                <div class="media-icon "><img src="./assets/img/icon-arrow.png " alt=" "></div>
            </div>
        </a>
    </div>
</div>