<div class="navTitle">
    <div class="left">&nbsp;&nbsp;
        <span class="fa fa-chevron-left" aria-hidden="true"></span>

    </div>
    <div class="left">注册</div>
    <div></div>
</div>
<div class="login_form">
    <form class="form-horizontal" novalidate>
        <div class="form-group">
            <div class="input-group icon_input">
                <input type="number" class="form-control" id="userMobile" placeholder="请输入手机号" required formControlName="userMobile">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group icon_input">
                <input type="number" class="form-control" id="code" placeholder="请输入短信验证码" required formControlName="vCode">
                <span class="input-group-btn">
                <button class="btn btn-default getcodeBtn" type="button" (click)="openModal(template)">获取验证码</button>
            </span>
            </div>
        </div>

        <div class="checkbox xieyi">
            <label for="agreement">
                <input type="checkbox" class="selfCk" id="agreement"> 
                &nbsp; 
              <span>我已读并同意<a href="/agreement">《用户协议》</a> </span>
            </label>
        </div>

        <button style="margin-top:3rem;" type="submit" class="btn btn-default btn_info">注册</button>

        <template #template tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true"> 
            <div class="modal-body code_pic"><!--  formGroupName="picCode" -->
                <h3>请输入图片验证码</h3>
                <dl>
                    <dt><img alt="" [src]="'./assets/img/caseList_bg.png'"(click)="refreshCode()"></dt>
                    <dd>
                         <input type="text"  maxlength="4">
                    </dd>
                </dl>
            </div>
          </template>
    </form>
</div>